
<header>
    <nav class="navbar navbar-inverse bg-custom navbar-toggleable-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleCenteredNav" aria-controls="navbarsExampleCenteredNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon search pull-right"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExampleCenteredNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['../home']">
                        <img src="./assets/img/home/logo.png" alt="">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['../main']" id="talleres">Talleres</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="['../recetas']" id="recetas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recetas</a>
                    <div class="dropdown-menu" aria-labelledby="recetas">
                        <a class="dropdown-item" href="#">Vegetal</a>
                        <a class="dropdown-item" href="#">Afterworks</a>
                        <a class="dropdown-item" href="#">Arroces</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hablamos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
