    html {
        background: #FAF7F2;
        background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    a {
        color: #fff;
        font-family: 'Cinzel', serif;
    }

    a:focus, a:hover {
        color: #fff;
        text-decoration: none;
        opacity: .8;
    }
    .bg-home {
        background-image: url('../img/Bg-Home.jpg');
        background-size: cover;
        height: 100vh;
    }
    .bg-home > img {
        display: block;
        margin: auto;
        width: 80%;
    }
    .bg-home > a.btn-custom {
        display: block;
        width: 50%;
        margin: auto;
        font-size: 1.35rem;
        font-family: 'Lato', sans-serif;
    }

    .navbar {
        box-shadow: 0px 2px 20px grey;
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-inverse .navbar-toggler {
        border-color: rgba(255, 255, 255, 0);
    }

    .navbar-inverse .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        line-height: 55px;
    }

    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }

    .navbar-inverse .navbar-toggler-icon {
        background-image: url(../img/menu.svg);
    }

    .bg-custom, .btn-custom, .card-header {
        background-color: #ff1744 !important;
        color: #fff;
    }

    .dropdown-menu {
        top: 105%;
        left: 12%;
        border-color: #ededed;
    }

    .dropdown-item {
        text-transform: uppercase;
        font-weight: 300;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #ff1744;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .offset-bottom_0 {
        margin-bottom: 0;
    }

    .offset_top_20 {
        margin-top: 20px !important;
    }

    .offset_top_30 {
        margin-top: 30px !important;
    }
    .equalsHeight {
        display :none;
    }

    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #d1d1d1;
        font-family: 'Cinzel', serif;
    }

    .subtle {
        color: #aaa;
    }

    .card {
        background-color: #fff;
        padding: 30px;
        position: relative;
        z-index: 1;
        border: none;
        margin-top: 20px;
    }

    .divisor:after {
        box-shadow: 0 0 5px rgba(75, 75, 75, .1);
        content: "";
        display: block;
        height: 80%;
        position: absolute;
        right: 0;
        width: 1px;
    }

    .card-number {
        margin-top: 15px;
    }

    .card-circle {
        border: 1px solid #aaa;
        border-radius: 50%;
        display: inline-block;
        line-height: 22px;
        font-size: 12px;
        height: 25px;
        text-align: center;
        width: 25px;
        margin-right: 15px;
    }

    .card-author {
        display: block;
        font-size: 13px;
        letter-spacing: .5px;
        margin: 15px 0 0;
        text-transform: uppercase;
    }

    .card-title {
        font-family: 'Cinzel', serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 20px;
        margin: 30px 0 15px;
        letter-spacing: -1px;
    }

    /*.card-description {
        min-height: 90px;
    }*/
    .card-description, .card-date {
        display: inline-block;
        font-weight: 300;
        line-height: 22px;
        margin: 25px 0;
        font-size: 1.2rem;
    }

    .card-course {
        font-weight: 400;
        text-transform: uppercase;
    }

    .card-read {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: right;
        position: absolute;
        bottom: 5%;
        right: 0;
        width: 92%;
        text-transform: uppercase;
    }

    .card-read:after {
        background-color: #d6d6d6;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 11px;
        width: 62%;
    }

    .card-shadow {
        background-color: #fff;
        box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
        height: 1px;
        margin: -1px auto 0;
        width: 90%;
        z-index: -1;
    }

    footer>nav div.social>a {
        padding-left: 12%;
    }
    footer div.social {
        margin-left: 60%;
    }

    @media only screen and (max-width: 600px) {
        html {
            background: none;
        }
        .container-fluid {
            width: 100%;
        }
        .container-fluid, .row, .col {
            margin: 0;
            padding: 0;
        }
        .page-header {
            margin: 24px 30px 10px;
        }
        .page-header>h1 {
            text-align: center;
            font-size: 1.5rem;
        }
        .card {
            padding: 15px;
            margin-top: 0;
        }
        .card-title {
            margin: 25px 0 10px;
        }
        .card-description {
            margin: 0px 0 10px;
        }
        .card-date {
            margin: 0px 0 25px;
        }
        .card-description, .card-date {
            font-size: 1rem;
        }
        .card-course {
            text-transform: none;
        }
        .divisor:after {
            content: "";
            display: none;
        }
        .card-shadow {
            opacity: 0;
            display: none;
        }
        .card-read {
            right: 4%;
        }
        .noPadding {
            padding: 0;
        }
        .noPadding>img {
            width: 80%;
            margin: auto;
        }
        .navbar-light .navbar-toggler {
            border: none;
        }
        .navbar-inverse .navbar-nav .nav-link {
            font-size: 1.2rem;
            line-height: 30px;
            border-bottom: 1px solid rgba(237, 237, 237, 0.15);
        }
        a.nav-link:last-child {
            border: none;
        }
        footer div.social {
            margin-left: 18%;
        }
    }

    @media (min-width: 601px) and (max-width: 768px) {
        .page-header>h1 {
            font-size: 2rem;
        }
        .card {
            margin-top: 0;
        }
        .card-title {
            font-size: 1.35rem;
        }
        .card-description {
            min-height: 66px;
        }
        .card-read {
            right: 10%;
            width: 80%;
        }
        .offset_top_20_mb {
            margin-top: 25px;
        }
        footer div.social {
            margin-left: 50%;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .row {
            min-height: 430px;
        }
        .page-header>h1 {
            text-align: center;
        }
        .card {
            min-height: 320px;
        }
        .card-title {
            font-size: 16px;
            margin: 20px 0 0;
        }
        .card-description, .card-date {
            font-size: 1.1rem;
        }
        .card {
            display: flex;
            justify-content: center;
        }
        .card-read {
            right: -1%;
            bottom: 3%;
            width: 89%;
        }
        .card-read:after {
            width: 56%;
        }
        .equalsHeight {
            display: block;
        }
        footer .row {
            min-height: 30px;
        }
    }

    @media (min-width: 1025px) and (max-width: 1280px) {
        .row {
            min-height: 415px;
        }
        .card-title {
            margin: 20px 0 15px;
        }
        .card-description, .card-date {
            font-size: 1.2rem;
        }
        .spHeight {
            min-height: 86px;
        }
        .card-read {
            bottom: 6%;
        }
        footer .row {
            min-height: 30px;
        }
    }
