<!-- Header with Logo & Navbar Starts -->
<app-header></app-header>

<!-- Main Content -->
<main class="container mt-5">
    <div class="page-header">
        <h1>Coolinary Market: Ateliers 2018 <small><cite>By J.R. Farin</cite></small></h1>
    </div>
    <div class="row">
        <div class="card-columns">
            <div class="card text-center" *ngFor="let taller of _is.infoTaller">
                <img class="card-img-top" [src]="taller.src" alt="{{taller.name}}">
                <span class="author gold">By J.R. Farin</span>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold gold mb-0">{{taller.name}}</h4>
                    <p class="card-text description gold">{{taller.descripcion}}</p>
                    <img src="assets/img/swirl.png" alt="">
                    <ul class="emphasis list-unstyled mt-3" *ngFor="let item of taller.recipeName">
                        <li class="gold">{{item.title}}</li>
                        <li>{{item.recipeDesc}}</li>
                    </ul>

                    <h5 class="gold mt-4">Características</h5>
                    <ul class="emphasis list-unstyled" *ngFor="let item of taller.caracteristicas">
                        <li class="mb-2">{{item.task}}</li>
                    </ul>
                    <div class="mb-3">
                        <img src="assets/img/recetas/swirl.png" alt="">
                    </div>
                    <small class="card-text font-weight-bold font-italic gold">{{taller.clase}}; <br>{{taller.precio}}</small>
                    <footer class="blockquote-footer mt-3">
                        <span>
                            <cite class="gold font-weight-bold" title="Source Title">{{taller.fecha}}</cite>
                        </span>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer with Social Buttons Starts -->
<app-footer></app-footer>
