<div class="row">
    <!-- Recipe Items Starts -->
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-12 col-lg-6 card">
                <div class="flexbox" style="display:flex;justify-content:flex-start;align-items:center;">
                    <span class="card-number card-circle subtle">01</span>
                    <span class="card-number card-circle subtle">S</span>
                    <span class="card-author subtle">Pep Farin</span>
                </div>
                <h2 class="card-title">Patata Pulpo Romesco</h2>
                <span class="card-description subtle">Espuma templada de Patata, Pulpo de roca y Romesco de almendras y piñones.</span>
                <span class="card-course subtle">Taller: Colores y Sabores de Otoño (Capítulo I).</span>
                <span class="card-date subtle">Fecha 04-18/Octubre/2017</span>
                <div class="card-read">Ver Más</div>
            </div>
            <div class="col-xs-12 col-lg-6 card">
                <img src="./assets/img/pulpopapa.jpg" alt="Espuma templada de Patata, Pulpo de roca y Romesco de almendras y piñones" class="img-fluid" />
            </div>
        </div>
        <div class="card-shadow"></div>
    </div>
</div>
