<!-- Header with Logo & Navbar Starts -->
<app-header></app-header>

<!-- Main Content -->
<main class="container noPadding">
  <div class="page-header">
    <h1>Coolinary Market: Recetas 2018 <small><cite>By J.R. Farin</cite></small></h1>
  </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 noPadding" *ngFor="let receta of _rs.infoRecetas">
            <div class="row">
                <div class="col-sm-12 noPadding">
                    <img class="card-img-top" [src]="receta.src" alt="">
                    <div class="col text-center gold">
                        <span class="icon-family"></span>
                        <span class="cinzel">E</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-clock"></span>
                        <span class="cinzel">1'45 h.</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-users"></span>
                        <span class="cinzel">4</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-gauge"></span>
                        <span class="cinzel">fácil</span>
                    </div>
                    <div class="accordion" id="accordionIng" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" id="headingIng">
                                <a data-toggle="collapse" data-parent="#accordionIng" href="#ingredientes" aria-expanded="true" aria-controls="ingredientes">
                                    <h5 class="mb-0">
                                        Ingredientes <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="ingredientes" class="collapse" aria-labelledby="headingIng" data-parent="#accordionIng">
                                <div class="card-body">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 noPadding">
                    <div class="accordion" id="accordionElb" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header offset_top_i20" id="headingElb">
                                <a data-toggle="collapse" data-parent="#accordionElb" href="#elaboracion" aria-expanded="true" aria-controls="elaboracion">
                                    <h5 class="mb-0">
                                        Elaboración <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="elaboracion" class="collapse" aria-labelledby="headingElb" data-parent="#accordionElb">
                                <div class="card-body">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 text-center">
                <img src="assets/img/recetas/swirl.png" alt="">
            </div>
            <hr />
        </div>
    </div>
</main>

<!-- Footer with Social Buttons Starts -->
<app-footer></app-footer>
