
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="row">
            <div class="col-sm-12">
                <img src="http://via.placeholder.com/360x240" alt="" class="img-fluid">
            </div>

            <div class="col-sm-12">
                <div class="accordion offset_top_20" id="accordionIng" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" id="headingIng">
                            <a data-toggle="collapse" data-parent="#accordionIng" href="#ingredientes" aria-expanded="true" aria-controls="ingredientes">
                                <h5 class="mb-0">
                                    Ingredientes <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <div id="ingredientes" class="collapse show" aria-labelledby="headingIng" data-parent="#accordionIng">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quisquam error cumque officia, nisi tempora dolore.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="accordion offset_top_20" id="accordionElb" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" id="headingElb">
                            <a data-toggle="collapse" data-parent="#accordionElb" href="#elaboracion" aria-expanded="true" aria-controls="elaboracion">
                                <h5 class="mb-0">
                                    Elaboración <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <div id="elaboracion" class="collapse show" aria-labelledby="headingElb" data-parent="#accordionElb">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quisquam error cumque officia, nisi tempora dolore.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
